[Desktop Entry]
Comment=
Exec=/usr/bin/konsole -e sudo /usr/bin/openfortivpn myupclink.upc.edu:443 --saml-login
Icon=internet-web-browser-symbolic
Name=UPClink VPN
NoDisplay=false
Path=
PrefersNonDefaultGPU=false
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
